.env
.venv
.pytest_cache/
*.egg-info/

**/__pycache__/

/scaffolds/generated/

/scaffolds/baselines/**
!/scaffolds/baselines/**/
!scaffolds/baselines/**/keep*/
!scaffolds/baselines/**/keep*/**
!scaffolds/baselines/**/metadata.xml
!scaffolds/baselines/**/scaffold.py
/scaffolds/**/llm_interfaces.py

/experiments/*

/scratch/
/logs/